.content {
	text-align: center;
	font-family: "Palatino Linotype", Palatino, Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 1.25em;
}

.content a {
	color: #8F0000;
	text-decoration: none;
}

.descr {
	margin-bottom: 15px;
}

.features {
	width: 75%;
	margin: 0 auto;
	text-align: left;
}

.screen {
	margin: 25px 0px;
}

.download {
	color: #00008F;
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-weight: bold;
}

.download a {
	color: #8F0000;
	text-decoration: none;
}

.copyright {
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}

#ohloh-badge {
	margin: 15px 0px;
}
